@page
@model MediscreenWebUI.Pages.Notes.CreateModel
@{
    ViewData["Title"] = "Add Note";
}

<h1>Add Note</h1>

<form method="post">
    <input type="hidden" asp-for="Note.PatientId" />
    <input type="hidden" asp-for="Note.DoctorId" value="1" />

    <div class="form-group">
        <label>Patient Name:</label>
        <h3 style="color:darkblue; font-weight: bold">@Model.Patient.FirstName @Model.Patient.LastName</h3>
    </div>
    <br />

    <div class="form-group" style="white-space: pre;">
        <label asp-for="Note.NoteContent">Note Content:</label>
        <textarea asp-for="Note.NoteContent" class="form-control" id="noteContent"></textarea>
        <span asp-validation-for="Note.NoteContent" style="color: red"></span>
    </div>
    <br />

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
        <a asp-page="../Patients/Index" class="btn btn-danger">Cancel</a>
    </div>
</form>

<script>
    // Adding the possibility to use tabulation in the textarea for the note content :
    // Get the textarea element
    var textarea = document.getElementById("noteContent");

    // Add an event listener for the keydown event
    textarea.addEventListener("keydown", function (e) {
        if (e.key == "Tab") {
            e.preventDefault();

            // Get the current cursor position
            var start = this.selectionStart;
            var end = this.selectionEnd;

            // Insert a tab character at the cursor position
            var tab = "\t";
            this.value = this.value.substring(0, start) + tab + this.value.substring(end);

            // Move the cursor position after the inserted tab
            this.selectionStart = this.selectionEnd = start + tab.length;
        }
    });
</script>