@page
@model MediscreenWebUI.Pages.Notes.EditModel
@{
    ViewData["Title"] = "Edit Note";
}

<h1>Edit Note</h1>

<form method="post">
    <input type="hidden" asp-for="Note.Id" />
    <input type="hidden" asp-for="Note.PatientId" />
    <input type="hidden" asp-for="Note.DoctorId" />
    <div class="form-group">
        <h3 style="color:darkblue; font-weight: bold">Patient : @Model.Patient.FirstName @Model.Patient.LastName</h3>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="Note.NoteContent"></label>
        <textarea asp-for="Note.NoteContent" class="form-control"></textarea>
        <span asp-validation-for="Note.NoteContent" style="color: red"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-page="../Patients/Index" class="btn btn-danger">Cancel</a>
</form>