@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MEDISCREEN !</h1>
  
    <img src="/img/cover_pic_mediscreen_cropped.png" alt="Cover picture for Mediscreen"/>
</div>
