@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div>
        <img src="/img/mediscreen_logo.png" alt="Mediscreen logo" />
        <h1 class="display-4">Welcome to MEDISCREEN !</h1>
    </div>
    <br />
    <img src="/img/cover_pic_mediscreen_cropped.png" alt="Cover picture for Mediscreen"/>
</div>
